body {
  font-family: Arial;
  font-size: 100%;
  font-weight: 100;
  line-height: 1.4em;
  background: #ABE1FB;
  color: #0C4153;
}
pre {
  font-family: monospace;
  margin: 10px;
}
header {
  margin: 10px;
  border-bottom: 1px solid black;
  padding: 10px;
}
header h1 {
  font-size: 1.2em;
  line-height: 2em;
}
.component {
  margin: 40px;
  background: #0C4153;
  border-radius: 10px;
  text-align: left;
  border: 1px solid #0C4153;
  color: #fff;
}
.component a {
    color: #fff;
}
.component .info {
    padding: 20px;
}
iframe {
  background: #fff;
  border-radius: 10px 10px 0 0;
}
b {
  font-weight: 900;
}
p {
    margin-bottom: 20px;
}
main {
    max-width: 800px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}
.search-box {
    font-size: 100%;
    padding: 0.4em;
    color: #0C4153;
}
