body {
  font-family: Arial;
  font-size: 100%;
  font-weight: 100;
  line-height: 1.4em;
}
pre {
  font-family: monospace;
  margin: 10px;
}
header {
  margin: 10px;
  border-bottom: 1px solid black;
  padding: 10px;
}
header h1 {
  font-size: 1.2em;
  line-height: 2em;
}
.component {
  margin: 40px;
  background: #D3EAFA;
  padding: 20px;
  border-radius: 10px;
}
iframe {
  background: #fff;
}
b {
  font-weight: 900;
}
